body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-source-sans-pro: "Source Sans Pro";
  --font-poppins: Poppins;
  --font-mulish: Mulish;
  --font-material-icons: "Material Icons";
  --font-urbanist: Urbanist;
  --font-dm-sans: "DM Sans";
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-41xl: 60px;
  --font-size-29xl: 48px;
  --font-size-17xl: 36px;
  --font-size-mid-4: 17.4px;
  --font-size-smi-1: 12.1px;
  --font-size-sm-9: 13.9px;
  --font-size-2xs-4: 10.4px;
  --font-size-lg: 18px;
  --font-size-smi-9: 12.9px;
  --font-size-mid-1: 17.1px;
  --font-size-mini: 15px;
  --font-size-base-7: 16.7px;
  --font-size-base-3: 16.3px;
  --font-size-lg-6: 18.6px;
  --font-size-4xl: 23px;
  --font-size-4xl-3: 23.3px;
  --font-size-base-5: 15.5px;
  --font-size-sm-3: 13.3px;
  --font-size-mid-7: 17.7px;
  --font-size-3xl: 22px;
  --font-size-3xl-2: 22.2px;
  --font-size-9xl: 28px;
  --font-size-smi-4: 12.4px;
  --font-size-12xl-8: 31.8px;
  --font-size-6xl: 25px;
  --font-size-base-9: 15.9px;
  --font-size-2xl-2: 21.2px;
  --font-size-mid: 17px;
  --font-size-mini-1: 14.1px;
  --font-size-base-6: 15.6px;
  --font-size-lg-7: 18.7px;
  --font-size-mini-4: 14.4px;
  --font-size-mid-3: 17.3px;
  --font-size-10xl-7: 29.7px;

  /* Colors */
  --white-100: #fff;
  --color-royalblue-100: #0a6dff;
  --color-brand-brand-blue: #0859de;
  --color-gray-100: #fcfcfc;
  --color-gray-200: #151e2d;
  --color-gray-300: #221c16;
  --color-gray-400: #19191d;
  --color-gray-500: #060606;
  --color-gray-600: rgba(0, 26, 64, 0.96);
  --color-gray-700: rgba(18, 25, 39, 0.68);
  --color-gray-800: rgba(18, 25, 39, 0.7);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(230, 230, 230, 0.09);
  --color-black: #000;
  --color-darkslategray-100: #414141;
  --color-darkslategray-200: #243551;
  --color-white-140: #333;
  --color-white-130: #666;
  --color-forestgreen-100: #00ab47;
  --color-forestgreen-200: #00aa46;
  --black-10: #c2c2c2;
  --color-black-210: #d6d6d6;
  --color-darkslateblue: #1f4077;
  --color-brand-brand-purple: #6422cd;
  --color-thistle-100: #e4d3ff;
  --color-white-120: #999;
  --color-darkgray-100: #9696a0;
  --color-aliceblue-100: #eaf1ff;
  --color-aliceblue-200: #e6f0ff;
  --color-lavender-100: #ccd6e6;
  --color-steelblue-100: #6276a5;
  --color-lightsteelblue: #b6d3ff;

  /* Gaps */
  --gap-mini: 15px;
  --gap-xl: 20px;
  --gap-6xl: 25px;
  --gap-2xs: 11px;
  --gap-10xl: 29px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-7xs: 6px;
  --gap-31xl: 50px;
  --gap-5xs-8: 7.8px;
  --gap-4xl-4: 23.4px;
  --gap-4xs-7: 8.7px;
  --gap-11xs-7: 1.7px;
  --gap-mid: 17px;
  --gap-mini-3: 14.3px;
  --gap-5xs-9: 7.9px;
  --gap-4xs-3: 8.3px;
  --gap-xs-6: 11.6px;
  --gap-xs-1: 11.1px;
  --gap-lgi: 19px;
  --gap-8xs-3: 4.3px;
  --gap-11xl: 30px;
  --gap-2xs-4: 10.4px;
  --gap-2xs-3: 10.3px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-32xl: 51px;
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-14xl: 33px;
  --padding-2xl: 21px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-6xl: 25px;
  --padding-16xl: 35px;
  --padding-4xl: 23px;
  --padding-31xl: 50px;
  --padding-225xl: 244px;
  --padding-13xl: 32px;
  --padding-21xl: 40px;
  --padding-17xl: 36px;
  --padding-11xl: 30px;
  --padding-5xl: 24px;
  --padding-mini-8: 14.8px;
  --padding-lgi-9: 19.9px;
  --padding-6xs-1: 6.1px;
  --padding-sm-9: 13.9px;
  --padding-11xs-7: 1.7px;
  --padding-10xs: 3px;
  --padding-308xl: 327px;
  --padding-10xs-5: 2.5px;
  --padding-48xl: 67px;
  --padding-mini-3: 14.3px;
  --padding-5xs-1: 7.1px;
  --padding-8xs: 5px;
  --padding-4xs-8: 8.8px;
  --padding-12xs-1: 0.1px;
  --padding-11xs-6: 1.6px;
  --padding-lg: 18px;
  --padding-12xs-2: 0.2px;
  --padding-11xs-5: 1.5px;
  --padding-10xl-1: 29.1px;
  --padding-xs-6: 11.6px;
  --padding-10xl: 29px;
  --padding-7xs-8: 5.8px;
  --padding-4xs: 9px;
  --padding-0: 0px;
  --padding-8xl-7: 27.7px;
  --padding-3xl: 22px;
  --padding-xs-1: 11.1px;
  --padding-9xl: 28px;
  --padding-7xs-5: 5.5px;
  --padding-46xl: 65px;
  --padding-11xl-9: 30.9px;
  --padding-mid-6: 17.6px;
  --padding-8xs-4: 4.4px;
  --padding-37xl: 56px;
  --padding-3xs-6: 9.6px;
  --padding-559xl: 578px;
  --padding-270xl: 289px;
  --padding-125xl: 144px;
  --padding-8xs-3: 4.3px;
  --padding-4xs-7: 8.7px;
  --padding-44xl: 63px;
  --padding-12xl: 31px;
  --padding-5xs: 8px;
  --padding-7xs-1: 5.1px;
  --padding-2xs-3: 10.3px;
  --padding-9xl-5: 28.5px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-sm-9: 13.9px;
  --br-9xs-5: 3.5px;
  --br-mini-3: 14.3px;
  --br-3xs: 10px;
  --br-4xs-3: 8.3px;
  --br-3xs-3: 9.3px;
  --br-4xs-9: 8.9px;
  --br-2xs-6: 10.6px;
  --br-25xl-1: 44.1px;
  --br-53xl-8: 72.8px;
  --br-75xl: 94px;
  --br-19xl-1: 38.1px;
  --br-3xs-4: 9.4px;
}
